{% extends "admin/base.html" %} {% block content %}
<div class="container mt-3">
    <form id="articleUpdateForm">
         <h4>Title</h4>
         <input class="form-control" type="text" name="title" value="{{ article.title }}"><br>
    </form>
    <h4>Content</h4>
    <textarea class="form-control" name="content" form="articleUpdateForm">{{ article.content }}</textarea>
    <br>
    <h4>Choose Image</h4>
    <input type="file" id="fileInput" accept=".jpg, .png">
    <br><br>
    <h4>Current Image</h4>
    <img style="max-height: 400px; max-width: 400px; border-style: solid;" id="currentImage" class="rounded" src="{{ url_for('static', path='article_images/default.png' )}}">
    <br><br>
    <h4>Is Article Hidden?</h4>
    <div class="form-check form-switch">
       <input class="form-check-input" type="checkbox" role="switch" id="hiddenSwitch" name="hidden">
       <label class="form-check-label" for="hiddenSwitch">is hidden?</label>
    </div>
    <button class="btn btn-primary mt-5" type="button" value="Update" onclick="submitUsingFetch()">Update Article</button>
    <br>
    <p id="resp"></p>
</div>
<script>
   if ("{{ article.hidden }}" == "True") {
      document.getElementById("hiddenSwitch").checked = true
   } else {
      document.getElementById("hiddenSwitch").checked = false
   }
   document.getElementById("currentImage").src = "{{ url_for('static', path='article_images/' )}}" + "{{ article.image }}"
   function submitUsingFetch() {
      const resp = document.getElementById("resp");
      const fileInput = document.getElementById('fileInput');
      const formData = new FormData();
      for (const file of fileInput.files) {
         formData.append('files', file);
      }
      const myForm = document.getElementById('articleUpdateForm');
      let qs = new URLSearchParams(new FormData(myForm)).toString();
      qs += "&hidden=" + document.getElementById("hiddenSwitch").checked
      console.log(qs)
      let opts
      if (fileInput.files.length === 1) {
         opts = {
            method: 'POST',
            body: formData,
         }
      } else {
         opts = {
            method: 'POST',    
         }
      }

      fetch('/api/articles/update/'+ "{{ article.id }}" + '?' + qs, opts)
      .then(() => {
         location.replace("{{ url_for('admin_page') }}")
      })
      .catch(error => {
         console.error(error);
      });

   }
</script>
{% endblock %}