<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Satlab AGH</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/article.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/gallery.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/cooperate.css') }}"
    />

    <!-- tailwind -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/output.css') }}"
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='img/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', path='img/favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    {% include "menu.html" %}

    <div class="">{% block content %} {% endblock %}</div>

    <div>{% include "footer.html" %}</div>


     <script type="text/javascript" src="{{ url_for('static', path='js/index.js') }}" ></script>
     <script type="text/javascript" src="{{ url_for('static', path='js/slider.js') }}" ></script>
  </body>
</html>
