{% extends "base.html" %} {% block content %}

<section class="cooperate-container flex flex-col ">
    <div class="cooperate-header">
        <div class="text-wrapper">
          <h1 class="fade text-[45px] xl:text-[75px]"><span class="text-[#2ab5b6]">WSPÓŁPRACUJ</span> Z NAMI</h1>
          <p class="fade text-16px lg:text-[32px] xl-[45px] leading-relaxed" direction="left">
            Jeśli Ty też chcesz polecieć z nami w kosmos, to sprawdź jak możesz zostać częścią naszego koła!
          </p>
        </div>
    </div>
    <div class="cooperate-company">
        <div class="text-wrapper">
          <h1 class="fade text-[45px] xl:text-[75px] text-[#2ab5b6]">FIRMY I ORGANIZACJE</h1>
          <p class="fade text-16px lg:text-[32px] xl-[45px] leading-relaxed" direction="left">
            Współpraca z projektami studenckimi, szczególnie tymi o wysokim potencjale innowacyjnym, oferuje firmom unikalną okazję do promocji swoich marek, budowania pozytywnego wizerunku oraz aktywnego uczestnictwa w rozwoju naukowym i technologicznym.

            <b>Jest to inwestycja nie tylko w projekt, ale także w przyszłość branży i społeczności naukowej.</b>
        </p>
        </div>
        <div class="text-wrapper mt-24">
            <h1 class="fade text-[45px] xl:text-[75px] font-thin">Zaufali nam</h1>
            <div class="flex flex-wrap gap-8 items-center justify-center">
                <img class="fade h-24" src="https://www.agh.edu.pl/repozytoria/__processed__/a/2/csm_agh_znak_negatyw_bez_nazwy_0d6e7d5a12.jpg" alt="logo AGH" />
                <img class="fade h-24" src="https://ctk.agh.edu.pl/home/_processed_/8/c/csm_Projekt_bez_nazwy-4_1b87726b7f.jpg" alt="logo AGH Space Technology Centre" />
                <img class="fade h-24" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/TVN_logo.svg/2048px-TVN_logo.svg.png" alt="logo tvn" />
                <img class="fade h-24" src="https://www.tvnmedia.pl/public/upload/news/thumb/57bac0b4044a3.jpg?0b2e36b384235350fe7d8eaa066fdd63" alt="logo tvn24 bis" />
                <img class="fade h-24" src="https://images.squarespace-cdn.com/content/v1/53d7dcdce4b07a1cdbbc08a4/1406711724382-Y8E2L255NNJ3LNBFXH52/image-asset.png?format=1000w" alt="logo albaorbital">
            </div>
          </div>
          <div class="text-wrapper mt-24">
            <h1 class="fade text-[45px] xl:text-[75px] font-thin">Korzyści ze współpracy</h1>
            <div class="flex flex-wrap">
                <div class="offer-block">
                    <h1 class="fade text-[45px] xl:text-[75px] font-thin text-[#2ab5b6]">Dostęp do młodych talentów</h3>
                    <p class="fade text-16px lg:text-[32px] xl-[45px] leading-relaxed mt-8">Koła naukowe to miejsce, gdzie studenci rozwijają swoje umiejętności w konkretnej dziedzinie. Inwestując w koło naukowe, firma może zyskać dostęp do świeżego spojrzenia i nowych pomysłów, a także zidentyfikować potencjalnych przyszłych pracowników.</p>
                </div>
                <div class="offer-block">
                    <h1 class="fade text-[45px] xl:text-[75px] font-thin ">Partnerstwo badawcze</h3>
                    <p class="fade text-16px lg:text-[32px] xl-[45px] leading-relaxed mt-8">Współpraca z kołem naukowym może umożliwić firmie dostęp do nowatorskich rozwiązań i technologii. Poprzez sponsorowanie projektów badawczych lub udział w nich, firma będzie mogła korzystać z wyników badań i wdrożyć je w swojej działalności.</p>
                </div>
                <div class="offer-block">
                    <h1 class="fade text-[45px] xl:text-[75px] font-thin text-[#2ab5b6]">Budowanie relacji z uczelnią</h3>
                    <p class="fade text-16px lg:text-[32px] xl-[45px] leading-relaxed mt-8">Współpraca z kołem naukowym może otworzyć drogę do dalszej współpracy z uczelnią, co może skutkować rozpoczęciem różnorodnych form partnerstwa, takich jak projekty badawcze, staże czy programy szkoleniowe.</p>
                </div>
                <div class="offer-block">
                    <h1 class="fade text-[45px] xl:text-[75px] font-thin ">Promocja marki</h3>
                    <p class="fade text-16px lg:text-[32px] xl-[45px] leading-relaxed mt-8">Współpraca z akademicką instytucją, taką jak koło naukowe, może przyczynić się do poprawy wizerunku firmy jako innowacyjnej i zaangażowanej w rozwój nauki oraz edukacji.</p>
                </div>
            </div>
          </div>
    </div>
</section>

{% endblock %}