{% extends "base.html" %} {% block content %}

<section class="w-full h-screen bg-[#f7f7f7] flex flex-col justify-center items-center">
    <h1 class="fade text-[45px] xl:text-[75px] text-[#2ab5b6]">Dokumentacja</h1>
    <div class="btn-container flex xs:flex-wrap flex-nowrap">
        <button class="fade hero-btn xs:px-[30px] px-[10px] text-[14px] sm:text-[20px] xl:text-[30px] 2xl:text-[36px]"><a href="https://wiki.satlab.agh.edu.pl/s/docs/">DOKUMENTACJA TECHNICZNA</a></button>
        <button class="fade hero-btn xs:px-[30px] px-[10px] text-[14px] sm:text-[20px] xl:text-[30px] 2xl:text-[36px]"><a href="https://drive.google.com/file/d/1vPuvjMuHJtFeabDzaL_aa-bukh4eM_UO/view">KSIĘGA IDENTYFIKACJI WIZUALNEJ</a></button>
    </div>
</section>

{% endblock %}