{% extends "base.html" %} {% block content %}
<!-- Hero section -->
<section class="hero pl-12 md:pl-[5rem] xl:pl-[10rem] 2xl:pl-[15rem]">
  <h1 class="fade fade text-[45px] xl:text-[75px]"><span class="text-[#2ab5b6]">HYPE</span> - najmniejsza polska </br> satelita z AGH</h1>
  <h2 class="fade text-16px lg:text-[25px] xl-[30px] leading-relaxed">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor</br> incididunt ut labore et dolore magna aliqua.
  </h2>

  <!-- Hero Button container -->
  <div class="btn-container flex xs:flex-wrap flex-nowrap px-0 md:px-[20%]">
    <button class="fade hero-btn xs:px-[30px] px-[10px] text-[14px] sm:text-[20px] xl:text-[30px] 2xl:text-[36px]"><a href="#informations">O nas</a></button>
    <button class="fade hero-btn xs:px-[30px] px-[10px] text-[14px] sm:text-[20px] xl:text-[30px] 2xl:text-[36px]"><a href="#projects">Projekty</a></button>
    <button class="fade hero-btn xs:px-[30px] px-[10px] text-[14px] sm:text-[20px] xl:text-[30px] 2xl:text-[36px]"><a href="/cooperate">Współpracuj z nami</a></button>
  </div>
</section>

<!-- Mission description -->
<section class="mission-container" id="informations">
  <div class="text-wrapper">
    <h1 class="fade text-[45px] xl:text-[75px]">NASZA <span class="text-[#2ab5b6]">MISJA</span></h1>
    <p class="fade text-16px lg:text-[25px] xl-[30px] leading-relaxed" direction="left">
      From the beginning of its existence, the Polish space sector has been
      based mainly on the activities of not only experienced experts, but above
      all students, willing to cross borders and prove that ideas created in our
      country have their place above the Kármán Line. This resulted in the
      creation of not only several full-fledged satellites, but also numerous
      projects, ventures and research groups, whose members over time became the
      pillars of this industry in Poland. Young scientists and engineers from
      AGH, fascinated by the world of technology, wanting to inspire others by
      implementing innovative missions, therefore join the space race, creating
      one of the smallest and at the same time the most innovative devices that
      has ever been launched into orbit by the academic community! The team will
      not only conduct its own orbital research, but also lay the foundations
      for the professional development of future Polish specialists in the field
      of space and satellite engineering at the AGH University of Science and
      Technology in Krakow!
    </p>
  </div>
</section>

<!-- SLIDER WIDE NO1 -->
<section class="slider-container" id="projects">
  <div class="slider-wrapper">
    <div class="slider">
      <!-- Slides - follow logic of id as slide number -->
      <div class="slide" id="slide-1">
        <h2 class="fade"><span class="text-[#2ab5b6]">HYPE</span> - the smallest polish satellite from AGH</h2>
        <p class="fade" direction="left">
          Sed risus ultricies tristique nulla aliquet enim tortor at auctor urna
          nunc id cursus metus aliquam eleifend mi in nulla.
        </p>

        <img
          src="https://images.unsplash.com/photo-1656464868371-602be27fd4c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
          alt="3D rendering of an imaginary orange planet in space"
        />
      </div>
      <div class="slide" id="slide-2">
        <h2>HYPE - the smallest polish satellite from AGH</h2>
        <p>
          Sed risus ultricies tristique nulla aliquet enim tortor at auctor urna
          nunc id cursus metus aliquam eleifend mi in nulla.
        </p>

        <img
          src="https://images.unsplash.com/photo-1657586640569-4a3d4577328c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
          alt="3D rendering of an imaginary green planet in space"
        />
      </div>
      <div class="slide" id="slide-3">
        <h2>HYPE - the smallest polish satellite from AGH</h2>
        <p>
          Sed risus ultricies tristique nulla aliquet enim tortor at auctor urna
          nunc id cursus metus aliquam eleifend mi in nulla.
        </p>

        <img
          src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
          alt="3D rendering of an imaginary blue planet in space"
        />
      </div>
    </div>
    <div class="slider-nav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
    </div>
    <div class="slider-arrows">
      <a class="arrow-left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></a>
      <a class="arrow-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></a>
    </div>
  </div>
</section>

<!-- SLIDER THIN NO1 -->
<section id="news" class="th-carousel p-2 md:p-48 bg-[#f7f7f7] overflow-hidden">
  <div class="py-12">
    <span class="fade text-3xl">NIE PRZEGAP</span>
    <h2 class="fade text-6xl md:text-8xl">NEWSY OD <span class="text-[#2ab5b6]">SATLABA</span></h2>
  </div>
  <div class="block">
    <div class="bg-green js-flickity"
      data-flickity-options='{ "wrapAround": true }'>

      {% for article in articles %}

      <div class="slider-cell w-full w-full md:w-full lg:w-[66%] md:mr-12"><img
        src="{{ url_for('static', path='article_images/' + article.image )}}"
        alt="3D rendering of an imaginary green planet in space"
      />
      <a href="{{ url_for('article_page', news_id=article.id)}}">
        <p class="slide-text">{{ article.title }}</p>
      </a>
      </div>
      
      {% endfor %}

    </div>
  </div>
</section>

<!-- CONTACT -->
<section id="contact" class="contact-wrapper p-2 md:p-48 overflow-hidden">
  <div class="py-12">
    <h2 class="fade text-6xl md:text-8xl">Skontaktuj się z nami!</h2>
  </div>
  <div class="block">
    <div class="mb-6 flex justify-center space-x-2">
      <a
        href="https://www.facebook.com/satlab.agh/"
        type="button"
        class="rounded-full bg-transparent p-3 font-medium uppercase leading-normal text-surface transition duration-150 ease-in-out hover:bg-neutral-100 focus:outline-none focus:ring-0 dark:text-white dark:hover:bg-secondary-900"
        data-twe-ripple-init>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 320 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
            <path
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
          </svg>
        </span>
      </a>

      <a
        href="https://x.com/Satlab"
        type="button"
        class="rounded-full bg-transparent p-3 font-medium uppercase leading-normal text-surface transition duration-150 ease-in-out hover:bg-neutral-100 focus:outline-none focus:ring-0 dark:text-white dark:hover:bg-secondary-900"
        data-twe-ripple-init>
        <span class="mx-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
            <path
              d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
          </svg>
        </span>
      </a>

      <a
        href="https://www.instagram.com/satlab_agh/"
        type="button"
        class="rounded-full bg-transparent p-3 font-medium uppercase leading-normal text-surface transition duration-150 ease-in-out hover:bg-neutral-100 focus:outline-none focus:ring-0 dark:text-white dark:hover:bg-secondary-900"
        data-twe-ripple-init>
        <span class="mx-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
          </svg>
        </span>
      </a>

      <a
        href="https://www.linkedin.com/company/satlab-agh/"
        type="button"
        class="rounded-full bg-transparent p-3 font-medium uppercase leading-normal text-surface transition duration-150 ease-in-out hover:bg-neutral-100 focus:outline-none focus:ring-0 dark:text-white dark:hover:bg-secondary-900"
        data-twe-ripple-init>
        <span class="mx-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
            <path
              d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>

<!-- SEKCJE -->
<section id="sections" class="th-carousel p-2 md:p-48 bg-[#f7f7f7] overflow-hidden">
  <div class="py-12">
    <h2 class="fade text-6xl md:text-8xl">SEKCJE <span class="text-[#2ab5b6]">W SATLABIE</span></h2>
  </div>
  <div class="block">
    <div class="bg-green js-flickity"
      data-flickity-options='{ "wrapAround": true }'>

      {% for article in articles %}

      <div class="slider-cell w-full w-full md:w-full lg:w-[66%] md:mr-12"><img
        src="{{ url_for('static', path='article_images/' + article.image )}}"
        alt="3D rendering of an imaginary green planet in space"
      />
      <a href="{{ url_for('article_page', news_id=article.id)}}">
        <p class="slide-text">{{ article.title }}</p>
      </a>
      </div>
      
      {% endfor %}

    </div>
  </div>
</section>

<!-- CZŁONKOWIE -->
<div id="team" class="th-carousel p-2 md:p-48 bg-[#000] overflow-hidden">
  <div class="py-12">
    <h2 class="fade text-6xl md:text-8xl text-[#f7f7f7]">ZESPÓŁ <span class="text-[#2ab5b6]">SATLABA</span></h2>
  </div>
  <div class="text-wrapper">
      <p class="fade text-16px lg:text-[32px] xl-[45px] leading-relaxed max-w-[1250px] text-[#f7f7f7]" direction="left">
        Marzymy o tym, by misje kosmiczne na AGH stały się czymś normalnym, a nie jednorazowymi przygodami. Budujemy w tym celu odpowiednią infrastrukturę, laboratoria oraz przede wszystkim gromadzimy niezbędny know-how. Obecnie posiadamy dwie zaplanowane, w pełni sfinansowane misje kosmiczne!
      </p>
      <img src="{{ url_for('static', path='img/students.png') }}" />
  </div>
</div>

{% endblock %}
