<div class="menu">
  <input id="burger" type="checkbox" />
  <label for="burger">
    <div class="b-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p>Menu</p>
  </label>

  <nav>
    <ul>
      <li><a href="#">Kontakt</a></li>
      <li><a href="#">Galeria</a></li>
      <li><a href="#">Informacje</a></li>
      <li><a href="#">Członkowie</a></li>
      <li><a href="#">Dokumentacja</a></li>
      <li><a href="#">Aktualności</a></li>
      <li><a href="#">Sekcje</a></li>
      <li><a href="#">Projekty</a></li>
      <li><a href="#">Współpraca</a></li>
    </ul>
  </nav>

  <img src="/static/img/logo_wide.png" alt="Satlab logo" />
  <img src="/static/img/agh.png" alt="AGH logo" />
</div>
