<div class="menu">
  <input id="burger" type="checkbox" />
  <label for="burger">
    <div class="b-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p class="sm:text-[1.8rem] text-[1.8rem]">Menu</p>
  </label>

  <nav id="menu-btns">
    <ul>
      <li><a href="/#contact">Kontakt</a></li>
      <li><a href="#">Galeria</a></li>
      <li><a href="/#informations">Informacje</a></li>
      <li><a href="/#team">Członkowie</a></li>
      <li><a href="/documentation">Dokumentacja</a></li>
      <li><a href="/#news">Aktualności</a></li>
      <li><a href="/#sections">Sekcje</a></li>
      <li><a href="/#projects">Projekty</a></li>
      <li><a href="/cooperate">Współpraca</a></li>
    </ul>
  </nav>

  <a class="scale-[2]  z-[100]" href="/"><img class="sm:h-[45px] h-[25px]" src="/static/img/logo_wide.png" alt="Satlab logo" /></a>
  <img class="sm:h-[45px] h-[35px]" src="/static/img/agh.png" alt="AGH logo" />
</div>
